@const TAB_SIDEPADDING: 19px;

@media on-glass
{
	html { background: none; }
}

.aero-tab
{
	prototype: FrameTabGfx;
	style-set: AeroTabs;
}

@set AeroTabs
{
	#row-tabs
	{
		flow: horizontal;
		margin: 0 @TAB_SIDEPADDING;
		height: 30px;
	}
	#row-tabs > div
	{
		width: max-content;
		
		height: *;
		padding: 0 25px;
		padding-bottom: 1px;
		margin-top: 3px;
		background: center no-repeat;
		
		/* TEMP */
		//outline: solid 1px red;
	}

	#row-tabs > div
	{
		font-size: 14px;
		text-align: center;
		vertical-align: middle;
	}
	#row-tabs > div:not(:current):hover
	{
		text-decoration: underline;
	}
	
	#row-subtabs
	{
		flow: stack;
		padding: 0 7px;
	}
	
	section
	{
		flow: horizontal;
		visibility: hidden;
	}
	section:current
	{
		visibility: visible;
	}
	section > div /* BUG: direct child of container with 'flow: horizontal' won't call script paint-handlers */
	{
		prototype: SubTab_RibbonCheck;
		//behavior: check;
		flow: stack;
		
		height: 28px;
		width: max-content;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: 10px;
	}
	section > div > .layer-label
	{
		size: *;
		flow: horizontal;
		vertical-align: middle;
		padding: 0 11px;
	}
	section > div > .layer-label img
	{
		margin-left: -5px;
		margin-right: 7px;
	}
	section > div > .layer-label text
	{
		width: *;
		font-size: 14px;
		text-align: center;
	}
	section > div > .layer-gfx
	{
		size: *;
		opacity: 0;
	}
	section > div:checked > .layer-gfx
	{
		opacity: 1;
		transition: opacity(linear, 200ms);
	}
	
	section > div:not(:checked):hover > .layer-label
	{
		text-decoration: underline;
	}
	section > div:not(:checked) > .layer-label img
	{
		foreground-image-transformation: colorize(rgb(79,115,158));
	}
}