@font-face
{
	font-family: 'OpenSans';
	font-style: normal;
	src: url(OpenSans.ttf);
}

/*
@font-face
{
	font-family: 'OpenSans';
	font-style: italic;
	src: url(OpenSans-Italic.ttf);
}

@font-face
{
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: bold;
	src: url(OpenSans-Bold.ttf);
}

@font-face
{
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: bold;
	src: url(OpenSans-BoldItalic.ttf);
}*/
