#search-box
{
	flow: horizontal-text;

	height: 30px;
	padding: 9px;

	background-color: white;
	border-radius: 3px;
	border: solid 1px gray;

	position: fixed;
	right: 40px;
	bottom: -9px;
	transition: bottom(linear, 200ms);
}
#search-box > * { vertical-align: middle; }
#search-box input { height: 18px; }
#search-box input[reddish] { background: #ff6666; color: white; }
#search-box:disabled { bottom: -50px; }
#search-box close
{
	size: 16px;
	display: inline-block;
	margin-top: 4px;
	background: url(close_search.png) no-repeat;
	hit-margin: 3px;
	vertical-align: top;
}
#search-box close:hover { background-position: -16px 0; }
#search-box close:active { background-position: -32px 0; }



@const CLR_BLUE: #0064c8;
@const CLR_BLUE2: #2d4a8c;

.std-btn
{
	padding: 0;
	border-radius: 3px;
	background: #97d3f1;
	color: white;
	font-size: 12px;
}
.std-btn:hover, .std-btn:owns-popup
{
	cursor: pointer;
	background: @CLR_BLUE2;
}
.std-btn:disabled
{
	background: #c2c2c2;
}

.ft { size: 31px 25px; background-size: 45%; background-repeat: no-repeat; background-position: center 6px; fill: white; }
.ft.ft-up-open { background-image: url(path:M282.082,195.285L149.028,62.24c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665,0.953-6.567,2.856L2.856,195.285 C0.95,197.191,0,199.378,0,201.853c0,2.474,0.953,4.664,2.856,6.566l14.272,14.271c1.903,1.903,4.093,2.854,6.567,2.854 c2.474,0,4.664-0.951,6.567-2.854l112.204-112.202l112.208,112.209c1.902,1.903,4.093,2.848,6.563,2.848 c2.478,0,4.668-0.951,6.57-2.848l14.274-14.277c1.902-1.902,2.847-4.093,2.847-6.566 C284.929,199.378,283.984,197.188,282.082,195.285z); }
.ft.ft-down-open { background-image: url(path:M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441 L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082 c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647 c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z); }

//*::mark(hilite) { background-color: lime; }
//*::mark(hiactual) { background-color: blue; }