widget[type="auto-complete"] {
  prototype:AutoComplete url(autocomplete.tis); 
  flow:stack;
  display:block;
  border: 1pt solid #D5D5D5;
  padding:2dip;
  width:8em;
  font:system;
}

widget[type="auto-complete"]:hover { 
  border-color: #B5B5B5; 
  outline:3dip glow #B5B5B5 0dip; 
}

widget[type="auto-complete"]:focus { 
  border-color: #FE9900; 
  text-selection: highlighttext highlight; 
  outline:3dip glow #FE9900 0dip;
}

widget[type="auto-complete"]:disabled {  
  background-color: #F0F0F0; 
  border-color: #D5D5D5;  
  color:#999999; 
}

widget[type="auto-complete"] > input,
widget[type="auto-complete"] > span { 
  background: none;
  border:none;
  padding:1dip;
  margin:0;
  display:block;
  height:1.2em;
  width:*
}

widget[type="auto-complete"] > span {
  color:#ccc;
  cursor:text;
}
widget[type="auto-complete"] > popup {
  width:*;
  height:min-content;
  display:none;
  background:infobackground;
  border:1dip solid black;
}

widget[type="auto-complete"] > popup > text {
  behavior:clickable;  // generates click events
}
    
widget[type="auto-complete"] > popup > text:hover {
  background:highlight;
  color:highlighttext;
}  