widget[type="auto-complete"] {
  prototype:AutoComplete url(autocomplete.tis); 
  flow:stack;
  border: 1pt solid #D5D5D5;
  padding:2px;
  width:8em;
  font:system;
}

widget[type="auto-complete"]:hover { 
  border-color: #B5B5B5; 
  outline:3px glow #B5B5B5 0px; 
}

widget[type="auto-complete"]:focus { 
  border-color: #FE9900; 
  text-selection: highlighttext highlight; 
  outline:3px glow #FE9900 0px;
}

widget[type="auto-complete"]:disabled {  
  background-color: #F0F0F0; 
  border-color: #D5D5D5;  
  color:#999999; 
}

widget[type="auto-complete"] > input,
widget[type="auto-complete"] > span { 
  background: none;
  border:none;
  padding:0;
  margin:0;
  display:block;
  size:*
}

widget[type="auto-complete"] > input {
  width: max-content;
  min-width:1px;
  background: transparent;
}

widget[type="auto-complete"] > span {
  color:#ccc;
  cursor:text;
}
widget[type="auto-complete"] > popup {
  width:*;
  height:min-content;
  display:none;
  background:infobackground;
  border:1px solid black;
}

widget[type="auto-complete"] > popup > text:hover {
  background:highlight;
  color:highlighttext;
}  